/* ================================================
// Note to candidate:
//  This code has bad practices
//  feel free to replace it with a better solution
// ================================================ */


/*Global*/

body{
	background: #fdfdfd;
}

menu{
	float: right;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 980px;
	margin: 20px auto;
}

.margin-off{
	margin: 0;
}

.visible {
	opacity: 1;
}

/*Header*/

.navbar{
	margin-bottom: 0;
}

.navbar-header, .navbar-brand{
	padding: 12px;
	color: #fff !important;
	float: none;
	margin: 0 auto;
	text-align: center;
}

/*Map CSS*/
  
#geocoding_form {
	margin: 40px auto 40px;
}

.find-me.btn:focus {
	border-color: transparent;
	outline: 0;
}

.coordinates {
	font-size: 18px;
	opacity: 0;
	margin-bottom: 40px;
}

.no-browser-support {
	font-size: 18px;
	opacity: 0;
	display: none;
}

.coordinates b:first-child {
	margin-right: 15px;
}

.map-overlay {
	height: 400px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}
	
#map {
	width: 100%;
	height: 400px;
	margin: 0 auto;
}

#url{
	width: 541px;
}

#geoLocationContainer{
	margin-top: 30px;
}

.table{
	border: 1px solid #ccc;
} 

.table tr td:last-child{
	text-align: right;
}


.btn-success, .btn-info{
	width: 135px;
}

/*Footer*/

.footer-copyright{
	background-color: #222222;
	color: #ffffff;
	padding: 12px;
	text-align: center;
}

/*Media Query*/

@media screen and (max-width: 991px) {
	#url {
		width: auto;
	}
	menu{
		float: none;
	}
}

@media screen and (max-width: 770px) {

	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	#getUrlLocation{
		text-align: center;
	}

	#url {
		width: 100%;
	}
	menu{
		text-align: center;
		margin-top: 20px;
		float: none;
	}
}