<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Avenue Code Finder</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="css/geolocation.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"> <i class="glyphicon glyphicon-search"></i> Avenue Code Finder</a>
				</div>
			</div>
		</nav>
		<section class="map">			

			<p class="no-browser-support">Sorry, the Geolocation API isn't supported in Your browser.</p>

			<div class="map-overlay">
				<div id="map"></div>
			</div>

		</section>

		<section id="mainContent" class="container">

			<script type="text/x-handlebars" id="index">
			<div class="row">
				<div class="col-md-8 col-sm-7">
					<form id="getUrlLocation" class="form-inline">
						<div class="form-group ">
							<input type="text" class="form-control" id="url" placeholder="URL Website">
						</div>	
						<button type="submit" class="btn btn-default margin-off">Search</button>				
					</form>
				</div>
				<div class="col-md-4 col-sm-5">
					<menu class="form-inline">
						<button class="find-me btn btn-success" onclick="getMyLocation()" id="btnMyLocation">My location</button>
						<button class="find-me btn btn-info" onclick="resetLocationDetails()" id="btnResetLocation">Reset location</button>
					</menu>
				</div>	
			</div>
			<section id="geoLocationContainer" class=""></section>		
			</script>

			<script type="text/x-handlebars" id="locationInfo">
				<h4>Estimated location</h4>
	
				<table class="table table-striped">
					<tbody>
						<tr>
							<td class="field_name">IP</td>
							<td id="location_query" class="location_value">{{query}}</td>
							<td><button class="help btn btn-warning">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Country</td>
							<td id="location_country" class="location_value">{{country}}</td>
							<td><button class="help btn btn-warning">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Region</td>
							<td id="location_regionName" class="location_value">{{regionName}}</td>
							<td><button class="help btn btn-warning">?</button></td>
						</tr>
						<tr>
							<td class="field_name">City</td>
							<td id="location_city" class="location_value">{{city}}</td>
							<td><button class="help btn btn-warning">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Zip Code</td>
							<td id="location_zip_code" class="location_value">{{zip_code}}</td>
							<td><button class="help btn btn-warning">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Latitude</td>
							<td id="location_lat" class="location_value">{{lat}}</td>
							<td><button class="help btn btn-warning">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Longitude</td>
							<td id="location_lon" class="location_value">{{lon}}</td>
							<td><button class="help btn btn-warning">?</button></td>
						</tr>
					</tbody>
				</table>
			</script>
		</section>	
		<footer>
			<div class="footer-copyright">
				<span>© 2017 Avenue Code Finder</span>
			</div>
		</footer>
	</body>

	<!-- Javascript -->
	<script src="js/libs/jquery-1.10.2.min.js"></script>
	<script src="js/libs/handlebars-v1.3.0.js"></script>
	<script src="js/geolocation.js"></script>
	<script src="js/googlemap.js"></script>
	<script src="js/gmaps.js"></script>
	
</html>
